[cowrie]
hostname = server01
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
state_path = var/lib/cowrie/state
etc_path = etc
share_path = share
run_path = var/run/cowrie

[output_jsonlog]
enabled = true
logfile = %(log_path)s/cowrie.json
epoch_timestamp = false

[output_textlog]
enabled = true
logfile = %(log_path)s/cowrie.log

[ssh]
enabled = true
listen_endpoints = tcp:2222:interface=0.0.0.0
version_string = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.6
rsa_public_key = %(state_path)s/ssh_host_rsa_key.pub
rsa_private_key = %(state_path)s/ssh_host_rsa_key
dsa_public_key = %(state_path)s/ssh_host_dsa_key.pub
dsa_private_key = %(state_path)s/ssh_host_dsa_key
public_key = %(state_path)s/ssh_host_ecdsa_key.pub
private_key = %(state_path)s/ssh_host_ecdsa_key

[telnet]
enabled = true
listen_endpoints = tcp:2223:interface=0.0.0.0

[backend]
backend = cowrie.backend.shell

# Fake filesystem
[shell]
filesystem = share/cowrie/fs.pickle
arch = linux-x86_64-lsb
processes = share/cowrie/proc.pickle
